# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ataya\Home\Code-Orange (TECH)\BUILD\Autumn\PLN\03 Functional Programming A\LRN-03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
